<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <head>
        <title>Book Review Sign IN</title>
    </head>
    <body>
        <h1>Already Have an Account?</h1>
        <a href="{{ url_for('login') }}">Click to Login</a>
        <h2>New To Our Site?</h2>
        <a href="{{ url_for('register') }}">Click to Register</a>
    </body>
</html>
