<!doctype html>
<html>
<style>
.my-fixed-button {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
</style>
<title>Book Review</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% block body %}{% endblock %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<br>
<br>
<br>
<div class="my-fixed-button">
<form action="{{ url_for('logout') }}">
    <button type="submit" value="Logout" class="btn btn-primary">Logout</button>
</form>
</div>

</html>
